---
layout: default
permalink: /blog/
---

<h1>Blog</h1>

  {% for post in site.posts %}

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

<!-- author icons -->

{% if page.author == 'Dana' %}
<img src="/assets/img/icon_d.png" width="64" align="left">
{% endif %}

{% if page.author == 'Alex' %}
<img src="/assets/img/icon_d.png" width="64" align="left">
{% endif %}

        {{ post.excerpt }}

      <small><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Permalink</a> | Date: {{ post.date | date: "%D" }} | Author: {{ post.author }}</small>

  <hr></hr>

  {% endfor %}
