---
layout: default
title: Blog
permalink: /blog/
---

<h1>Blog</h1>

  {% for post in site.posts %}

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

<!-- author icons -->

{% if post.author == 'Dana' %}
<img src="/assets/img/icon_d.png" width="60" align="left" alt="A black line drawing of a cat's face">
{% endif %}

{% if post.author == 'Alex' %}
<img src="/assets/img/icon_a.png" width="60" align="left" alt="A black line drawing of a bunny's face">
{% endif %}

        {{ post.excerpt }}

<p><center><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Click here to read more.</a></center></p>

      <p>Date: {{ post.date | date: "%D" }} | Author: {{ post.author }} | Tags: {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}">#{{ tag }}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}</p>

  <hr></hr>

  {% endfor %}
