---
layout: default
title: Events
permalink: /events/
---

<h1>Events</h1>
{% assign esize = site.events | size %}
  {% if esize == 0 %} 
    <p>No upcoming events. Check back soon.</p>
  {% else %}
{% assign sorted_events = site.events | sort: 'date' %}
{% for event in sorted_events %}


<h2><a href="{{ event.url }}">{{ event.title }}</a></h2>
<p><b>Date:</b> {{ event.event_date | date: "%a, %b %d, %Y" }}
<br><b>Time:</b> {{ event.time }}
<br><b>Location:</b> {{ event.location }}
<br><b>Address:</b> {{ event.address }}</p>

<p><center><a href="{{ event.url }}">Click here for more details.</a></center></p>

<hr></hr>

{% endfor %}
{% endif %}
