---
layout: default
---

<h1>About Us</h1>

<p>DnA is a collaboration between <a href="http://www.danaamundsen.com/">Dana Amundsen</a> and <a href="https://aokvisualartist.com/">Alex O’Keefe</a>, midwest-based zinesters, illustrators, and comic artists. Dana draws girls with swords (and cats), while Alex draws nature goth illustrations (and bunnies). They’ve been drawing together since 2010 no matter how far apart they find themselves. 

<hr></hr>

<h1>Recent Updates</h1>

<ul>
  {% for post in site.posts limit:5 %}
  
<li><a href="{{ post.url }}">{{ post.title }}</a><small> - {{ post.date | date: "%D" }} - {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/blog/tags/#{{ tag | slugify }}">#{{ tag }}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}</small></li>
      
   {% endfor %}
</ul>
<p><center><a href="http://www.dnaartists.net/blog/"><i>Click here to see all blog posts.</i></a></center></p>

<hr></hr>

<h1>Upcoming Events</h1>
<ul>
  {% assign esize = site.events | size %}
  {% if esize == 0 %} 
    <li>No upcoming events. Check back soon.</li>
  {% else %}
  {% for event in site.events limit:3 %}

  <li><a href="{{ event.url }}">{{ event.title }}</a><small> - {{ event.event_date | date: "%D" }}</small></li>

   {% endfor %}
  {% endif %}  
</ul>

<p><center><a href="http://www.dnaartists.net/events/"><i>Click here to see all upcoming events.</i></a></center></p>

<hr></hr>
<!---
<h1>Instagram</h1>

{% include instagram.html username="dna.artists" %} --->

