---
layout: default
---

<h1>About Us</h1>

<p>DnA is a collaboration between <a href="http://www.danaamundsen.com/">Dana Amundsen</a> and <a href="https://aokvisualartist.com/">Alex O’Keefe</a>, midwestern zinsters, illustrators, and comic artists. Dana draws girls with swords (and cats), while Alex draws nature goth illustrations (and bunnies). They’ve been drawing together since 2010 no matter how far apart they find themselves. 

<hr></hr>

<h1>Most Recent Update</h1>
  
  {% for post in site.posts limit:1 %}

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
 
<!-- author icons -->

{% if page.author == 'Dana' %}
<img src="/assets/img/icon_d.png" width="64" align="left">
{% endif %}

{% if page.author == 'Alex' %}
<img src="/assets/img/icon_d.png" width="64" align="left">
{% endif %}

        {{ post.excerpt }}

      <small><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Permalink</a> | Date: {{ post.date | date: "%D" }} | Author: {{ post.author }}</small>

   {% endfor %}


