---
layout: default
title: Publications
permalink: /publications/
---

<h1>Publications</h1>

<ul class="tag">
  <li><a href="#DnA" class="tag_name">By DnA</a></li>
  <li><a href="#Dana" class="tag_name">By Dana</a></li>
  <li><a href="#Alex" class="tag_name">By Alex</a></li>
</ul>

<p></p>

<h3 id="DnA">By DnA</h3>
<ul class="pub">
  <li><a class="pub_item" href="/publications/dabble-in/" title="Dabble In... - DnA"><img class="thumb" src="http://images.weserv.nl/?url=http://www.dnaartists.net/assets/img/publications/what-is-the-open-web_dana_1.png&w=150&h=150&fit=cover&output=png" alt=""></a></li>
{% for dnapublication in site.dnapublications %}
  <li><a class="pub_item" href="{{ dnapublication.url }}" title="{{ dnapublication.title }} - {{ dnapublication.author }}"><img class="thumb" src="http://images.weserv.nl/?url=http://www.dnaartists.net{{ dnapublication.img }}&w=150&h=150&fit=cover&output=png" alt="{{ dnapublication.desc }}"></a></li>
{% endfor %}
</ul>
<hr></hr>

<h3 id="Dana">By Dana</h3>
<ul class="pub">
{% for danapublication in site.danapublications %}
  <li><a class="pub_item" href="{{ danapublication.url }}" title="{{ danapublication.title }} - {{ danapublication.author }}"><img class="thumb" src="http://images.weserv.nl/?url=http://www.dnaartists.net{{ danapublication.img }}&w=150&h=150&fit=cover&output=png" alt="{{ danapublication.desc }}"></a></li>
{% endfor %}
</ul>
<hr></hr>

<h3 id="Alex">By Alex</h3>
<ul class="pub">
{% for alexpublication in site.alexpublications %}
  <li><a class="pub_item" href="{{ alexpublication.url }}" title="{{ alexpublication.title }} - {{ alexpublication.author }}"><img class="thumb" src="http://images.weserv.nl/?url=http://www.dnaartists.net{{ alexpublication.img }}&w=150&h=150&fit=cover&output=png" alt="{{ alexpublication.desc }}"></a></li>
{% endfor %}
</ul>
