---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

hr {
  margin: 25px auto;
  width: 50%;
  border-top: 2px solid #FEE440;
}

/* headers */

h1, h2, h3, h4, h5, h6 {
  color: #AD5DE5;
}

h1, h2 {
  font-family: 'Gochi Hand', cursive;
}

h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

/* links */

a {
  color: #00BBE0;
  font-weight: normal;
  text-decoration: underline;
}

h1 a {
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
}

h2 a {
  color: #AD5DE5;
  font-weight: 600;
}

a:hover, a:active {
  color: #FEE440;
  font-weight: normal;
  text-decoration: none;
}


/* menu links */

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a.menu_item {
  display: block;
  text-align: center;
  padding: 8px;
  margin: 3px;
  color: #00BBE0;
  font-weight: 600;
  border: 3px solid #00BBE0;
  text-decoration: none;
  border-radius: 6px;
}

li a.menu_item:hover {
  background-color: #FEE440;
  color: #FFF;
  border: 3px solid #FEE440;
}

li a.menu_item:active {
  background-color: #AD5DE5;
  color: #FFF;
}

.sns {
  width: 32px;
}
/* 
@media print, screen and (max-width: 1060px) {

body {
  padding: 0px;
}
  
.wrapper {
  width: 800px;
}
  
header {
  width: 250px;
  padding-top: 0px;
}

footer {
  width: 250px;
  padding-bottom: 0px;
}

section {
  width: 525px;
  padding: 50px 0px;
}

li a.menu_item {
  padding: 4px;
}
  
.sns {
  width: 24px;
}
  
}
*/
@media print, screen and (max-width: 960px) {
 section{
   border: 0px;
  }
  
  header ul {
    position:static;
  }
}


@media print, screen and (max-width: 720px) {
  section {
    border: 0px;
  }
}

@media print, screen and (max-width: 480px) {
  section {
    border: 0px;
  }
}
