---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Gochi Hand', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

h2 {
  color: #00BBE0;
}

h3 {
  color: #AD5DE5;
}

a {
  color: #00BBE0;
  font-weight: normal;
}

a:hover, a:active {
  color: #FEE440;
  font-weight: normal;
}
