---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nunito&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}

hr {
  margin: 25px auto;
  width: 50%;
  border-top: 2px solid #FEE440;
}

/* headers */

h1, h2, h3, h4, h5, h6 {
  color: #AD5DE5;
}

h1, h2 {
  font-family: 'Gochi Hand', cursive;
}

h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

/* links */

a {
  color: #00BBE0;
  font-weight: normal;
  text-decoration: underline;
}

h1 a {
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
}

h2 a {
  color: #AD5DE5;
  font-weight: 600;
}

a:hover, a:active {
  color: #FEE440;
  font-weight: normal;
  text-decoration: none;
}


/* menu links */

ul.menu {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li a.menu_item {
  float: left;
  display: block;
  text-align: center;
  padding: 3px 8px;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  color: #00BBE0;
}

li a.menu_item:hover {
  text-decoration: none;
  background-color: #FEE440;
  color: #fff;
}

ul.pub {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li a.pub_item {
  float: left;
  display: block;
}

.thumb {
  border-radius: 5px;
  margins: 5px;
}

.sns {
  height: 18px;
}

@media print, screen and (max-width: 960px) {
  section{
    border: 0px;
  }
  
  header ul {
    position:static;
  }
}


@media print, screen and (max-width: 720px) {
  section {
    border: 0px;
  }
}

@media print, screen and (max-width: 480px) {
  section {
    border: 0px;
  }
}
