---
layout: blog
title: Archive
permalink: /blog/archive/
---

<h2>Archive</h2>

<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}"><b>{{ post.title }}</b></a><small> {{ post.date | date: "%D" }} 
{% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/blog/tags/#{{ tag | slugify }}">#{{ tag }}</a>
  {% unless forloop.last %},{% endunless %}
  {% endfor %}
  </small></li>
  {% endfor %}
</ul>
