---
layout: default
title: Tags
permalink: /blog/tags/
---

<h2>Tags</h2>

<ul class="tag">
    {% for tag in site.tags %}
	<li><a href="#{{ tag[0] | slugify }}" class="tag_name">#{{ tag[0] }}</a></li>
    {% endfor %}
</ul>

<p></p>

    {% for tag in site.tags %}
    <p id="{{ tag[0] | slugify }}"><b>#{{ tag[0] }}</b></p>

	<ul>
    {% for post in tag[1] %}
	     <li><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }} - {{ post.date | date: "%D" }}">{{ post.title }}</a> - {{ post.date | date: "%D" }}</li>
	  {% endfor %}
	</ul>

    {% endfor %}
