<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center><h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1></center>

        {% if site.logo %}
          <center><img src="{{site.logo | relative_url}}" alt="A black line drawing of a cute cat face and bunny face next to each other with DnA written beneath." width="200"/></center>
        {% endif %}

      <center><h2>{{ site.description | default: site.github.project_tagline }}</h2></center>

        <ul class="linktree">
          <li><a class="linktree_item" href="https://dna-artists.square.site/" title="Newsletter">Shop</a></li>
          <li><a class="linktree_item" href="http://pencilbooth.com/dna/" title="Newsletter">Subscribe to our Newsletter</a></li>
        </ul>
        
        <ul class="menu">
          <li><a class="menu_item" href="/blog/" title="Updates from the Artists">Blog</a></li>
          <li><a class="menu_item" href="/blog/tags/" title="All posts sorted by tags">Tags</a></li>
          <li><a class="menu_item" href="/events/" title="Meet us on the Road">Events</a></li>
          <li><a class="menu_item" href="/publications/" title="Publications">Publications</a></li>
        </ul>
        
        <p></p>
        <p><a href="http://www.instagram.com/dna.artists/" title="Instagram"><img class="sns" src="/assets/img/instagram.png" alt="Instagram icon"></a>
        <a href="http://dnaartists.tumblr.com"><img class="sns" src="/assets/img/tumblr.png" alt="Tumblr icon"></a>
        <a href="/feed.xml" title="RSS"><img class="sns" src="/assets/img/rss.png" alt="RSS icon"></a>
        <a href="mailto:askdnaartists@gmail.com" title="Email"><img class="sns" src="/assets/img/mail.png" alt="Email icon"></a></p>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
<small>
Logo and website &copy; DnA Artists |
Hosted on GitHub Pages |
Theme by <a href="https://github.com/orderedlist">orderedlist</a> |
Fonts <a href="https://fonts.google.com/specimen/Gochi+Hand">Gochi Hand</a>, <a href="https://fonts.google.com/specimen/Nunito?query=nunito">Nunito</a> |
Icons <a href="https://www.flaticon.com/authors/super-basic-omission/gradient" title="Social Media Icons">Freepik</a>
</small>
      
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <!-- lightbox -->
    <script type="text/javascript" src="/assets/js/lightbox.js"></script>
    <link rel="stylesheet" href="/assets/css/lightbox.css">
</body>
</html>
  </body>
</html>
