<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center><h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1></center>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

      <center><h2>{{ site.description | default: site.github.project_tagline }}</h2></center>

        <ul class="menu">
          <li><a class="menu_item" href="/blog/">Blog</a></li>
          <li><a class="menu_item" href="http://www.instagram.com/dna.artists/">Instagram</a>
          <!-- <li><a class="menu_item" href"/portfolio/">Our Work</a></li> -->
          <li><a class="menu_item" href="/feed.xml">RSS</a></li>
        </ul>
        
        <p><a href="#"><img src="assets/img/instagram.png"></a>
        <a href="#"><img src="assets/img/rss.png"></a>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
<small>Logo and website &copy; Dana Amundsen & Alex O'Keefe
<br>Fonts used <a href="https://fonts.google.com/specimen/Gochi+Hand">Gochi Hand</a> and <a href="https://fonts.google.com/specimen/Nunito?query=nunito">Nunito</a>
<br><a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icon created by Laisa Islam Ani </a>
  <a href="https://www.flaticon.com/free-icons/rss" title="rss icons">Rss icons created by Muhammad_Usman - Flaticon</a>
<br>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
<br>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
      
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
