<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <center><h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1></center>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="A black line drawing of a cute cat face and bunny face next to each other with DnA written beneath." />
        {% endif %}

      <center><h2>{{ site.description | default: site.github.project_tagline }}</h2></center>

        <ul class="menu">
          <li><a class="menu_item" href="/blog/" title="Updates from the Artists">Blog</a></li>
          <li><a class="menu_item" href="/events/" title="Meet us on the Road">Events</a></li>
          <!-- <li><a class="menu_item" href="/portfolio/" title="Our Work">Our Work</a></li> -->
        </ul>
        
        <p></p>
        <p><a href="http://www.instagram.com/dna.artists/" title="Instagram"><img src="/assets/img/instagram.png" width="32" alt="Instagram icon"></a>
        <!-- <a href="http://www.twitter.com/dna_artists/"><img src="/assets/img/twitter.png" width="32"></a> -->
        <a href="/feed.xml" title="RSS"><img src="/assets/img/rss.png" width="32" alt="RSS icon"></a>
        <a href="mailto:askdnaartists@gmail.com" title="Email"><img src="/assets/img/mail.png" width="32" alt="Email icon"></a></p>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
<small>Logo and website &copy; Dana Amundsen & Alex O'Keefe
<br>Fonts used <a href="https://fonts.google.com/specimen/Gochi+Hand">Gochi Hand</a> and <a href="https://fonts.google.com/specimen/Nunito?query=nunito">Nunito</a>
<br>Icons created by <a href="https://www.flaticon.com/authors/super-basic-omission/gradient" title="Social Media Icons">Freepik</a>
<br>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
<br>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small>
      
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <!-- lightbox -->
    <script type="text/javascript" src="assets/js/lightbox.js"></script>
    <link rel="stylesheet" href="assets/css/lightbox.css">
</body>
</html>
  </body>
</html>
