---
layout: default
---

<h2>{{ page.title }}</h2>

<p><b>Date:</b> {{ page.date | date: "%a, %b %d, %Y" }}
<br><b>Time:</b> {{ page.time }}
<br><b>Location:</b> {{ page.location }}
<br><b>Address:</b> {{ page.address }}</p>

{{content}}


<p><a href="/events/" title="Return to Events page">Return to events page</a></p>
<!-- paginate -->
<p align="right">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}">{{page.previous.title}}</a> / 
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url }}">{{page.next.title}}</a>
    {% endif %}
</p>
