---
layout: default
---


<h2>{{ page.title }}</h2>

<p><b>Author:</b> {{ page.author }}
<br><b>Date:</b> {{ page.date | date: "%D" }}
<br><b>Tags:</b> {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{ site.baseurl }}/blog/tags/#{{ tag | slugify }}">#{{ tag }}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}</p>

<p></p>

<!-- author icons -->

{% if page.author == 'Dana' %}
<img src="/assets/img/icon_d.png" width="60" align="left" alt="A black line drawing of a cat's face">
{% endif %}

{% if page.author == 'Alex' %}
<img src="/assets/img/icon_a.png" width="60" align="left" alt="A black line drawing of a bunny's face">
{% endif %}

{{content}}
  
<!---share links
<small><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">share on twitter</a> | 
  <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title  }}" title "share on tumblr">share on tumblr</a></small>
--->

<!---prev/next post links-->
<p></p>
<p align="right">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}"><< {{ page.previous.title }}</a> | 
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url }}">{{ page.next.title }} >></a>
    {% endif %}
</p>
