---
layout: default
---


<h2>{{ page.title }}</h2>

<small>Author: {{ page.author }}
<br>Date: {{ page.date | date: "%D" }}</small>

<p></p>

<!-- author icons -->

{% if page.author == 'Dana' %}
<img src="/assets/img/icon_d.png" width="64" align="left">
{% endif %}

{% if page.author == 'Alex' %}
<img src="/assets/img/icon_d.png" width="64" align="left">
{% endif %}

{{content}}
  
<!---share links
<small><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">share on twitter</a> | 
  <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title  }}" title "share on tumblr">share on tumblr</a></small>
--->

<!---prev/next post links-->
<p></p>
<small align="right">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}"><< {{ page.previous.title }}</a> | 
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url }}">{{ page.next.title }} >></a>
    {% endif %}
</small>
