---
layout: default
---

<h2>{{ page.title }}</h2>

<p><small>Author: {{ page.author }}</small></p>

<p>{{content}}

<p><small><a href="/publications/" title="Return to publications page">Return to publications page</a></small</p>

<!-- paginate -->
<p align="right"><small>
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}">{{page.previous.title}}</a> / 
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url }}">{{page.next.title}}</a>
    {% endif %}
</small></p>
