---
layout: default
---

<h2>{{ page.title }}</h2>

<p>Author: {{ page.author }}</p>

{% if page.shoplink %}
<p><a href="{{ page.shoplink }}" target="_blank">Click to purchase</a></p>
{% endif %}

<p>{{content}}

<p><a href="/publications/" title="Return to publications page">Return to publications page</a></p>

<!-- paginate -->
<p align="right">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}">{{page.previous.title}}</a> / 
    {% endif %}

    {% if page.next.url %}
    <a href="{{ page.next.url }}">{{page.next.title}}</a>
    {% endif %}
</p>
